<div class='intro'>
  <img
    src='https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80'
    alt=''
    class='intro__img'
  />
  <div class='intro__body'>
    <div class='intro__title'>
      Эффективное
      <br />
      обучение
    </div>
    <div class='intro__sub-title'>
      Навыки для светлого будущего.
      <br />
      Начните действовать вместе с нами.
    </div>
  </div>
</div>